@model ReversiMvcV2.Models.Spel

@{
    ViewData["Title"] = "Play";

    
}

<h1>Details</h1>

<div>
    <h4>Speler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AanDeBeurt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speler1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speler2)
        </dt>
    </dl>
</div>
<div>
<div class="PlayBoard">
    @for (var i = 0; i < 8; i++)
    {   
        @for (var ii = 0; ii < 8; ii++)
        {
            <div class="Tile" id="Tile"></div>
        }
        
    }
</div>

    @section Scripts{
        <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/app.js"></script>
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>